@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color:rgb(255, 255, 255);
  
}

.header {
  z-index: 1; /* Stay on top */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #00ffff;;
  color: rgb(255, 255, 255);
  font-size: 20px;

}

.newbtn {
  font: inherit;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #800040;
  color: white;
  border: 2px solid black;
  
}


.subbtn {
  font: inherit;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(48, 246, 48);
  border: 5px solid black;
  
}


.Backbutton {
  box-shadow: 0 1px 4px red;
  border-radius: 6px;
  background-color:white;
  padding: 10px;
  text-align: center;
  width: 300px;
  z-index: 3;
  position: fixed;
  top: 40%;
  left: 40%;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
}


.headlink{
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #04f7ce;
  color: white;
  margin:10px;
}

.Mainlink{
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #04f7ce;
  color: white;
  margin-left: 145px;
  width: 75px;
}

.form{
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  height: 100%;
}


/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height*/
  width: 150px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar*/
  background-color: #00ffff;
  color: #000;
  overflow-x: hidden; 
  z-index: 0;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.card {
  /* Add shadows to create the "card" effect */
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 150px;
  margin-left: 45px;
  padding-top: 10px;
  display: inline-block;
  height: 250px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 8px 16px rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cardcontainer {
  padding: 2px 16px;
}


.Home{
  margin-left: 200px; 
  margin-bottom: 100px;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;   /* Height of the footer */
  background: #6cf;
  text-align: center;
}
